图解密码技术 —— 第十三章-PGP

https://isshe.site/p/%E5%9B%BE%E8%A7%A3%E5%AF%86%E7%A0%81%E6%8A%80%E6%9C%AF-%E7%AC%AC%E5%8D%81%E4%B8%89%E7%AB%A0-pgp/ 

 PGP——密码技术的完美组合 什么是PGP？  PGP: Pretty Good Privacy. 是Philip Zimmermann编写的密码软件。  PGP有什么用？  可以保护处于极端状况(如:性命攸关)下的人们的隐私。  什么是OpenGPG？  OpenGPG：对秘闻和数字签名进行定义的标准规范：RFC1991/RFC2440/RFC4880/RFC5581/RFC6637。 GUN遵照OpenGPG(RFC4880)规范编写了GnuPG自由软件。  什么是信任网？  PGP采用的确认公钥合法性的方法。 注意：公钥是否合法和所有者是否可信是两个不同的问题，因为尽管公钥合法，其所有者也可以是不可信的。  